html {
    text-align: center;
    font-family: monospace;
}

#calc {
    display: flex;
    min-height: 95vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: azure;
}

#container {
    background-color: whitesmoke;
    border: 10px solid rgba(47,47,47,1);
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
    gap: 2px;
}

#display {
    grid-column: 1 / -1;
    background-color: #b2b9b7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 5px;
    font-size: 5.5em;
    font-weight: initial;
    text-shadow: 1.3px 1.3px #383838;
    margin: 5px;
}

body {
    background-color: #e8e8e8;
    font-family: 'Roboto', sans-serif;
}
.calculator-div {
    margin: 10% 20%;
}
.calculator-div .screen {
    display: flex;
}
.calculator-div .screen input {
    flex: 1;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    padding: 20px;
    background-color: #3a3030;
    color: white;
    font-size: 2rem;
}
.calculator-div .row {
    display: flex;
}
.calculator-div .row button {
    flex: 1;
    margin: 5px;
    padding: 15px;
    font-size: 2rem;
}
.calculator-div .last-row {
    display: flex;
}
.calculator-div .last-row  {
    display: flex;
}
.calculator-div .last-row button {
    flex: 1;
    margin: 5px;
    padding: 15px;
    font-size: 2rem;
}
.calculator-div .last-row button.number {
    flex: 2.3;
}